$darkBackgroundPrimary: #232323;
$darkBackgroundSecondary: #302e2e;
$darkBackgroundText: #f4f4f4;

$lightBackgroundPrimary: #ffffff;
$lightBackgroundSecondary: #f5f5f5;
$lightBackgroundText: #4f4f4f;
